@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* SCROLL BAR */
body::-webkit-scrollbar {
	width: 6px;
	/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: #618389;
}

body::-webkit-scrollbar-thumb {
	background-color: #023047;
	/* color of the scroll thumb */
	border-radius: 5%;
	/* roundness of the scroll thumb */
	margin-right: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-section {
    padding: 3rem 3rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section > .join-us {
		height: 100vh;
	}

	.join-us {
		padding-top: 15vh;
	}

	.join-us .description {
		margin-top: 12vh;
	}

  .footer-section {
    padding: 5rem 5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.color-primary {
	color: #023047 !important;
}

.color-secondary {
	color: #fb8500 !important;
}

.bg-secondary {
	background-color: #fb8500 !important;
}

.color-tertiary {
	color: #0230478e !important;
}

.color-grey {
	color: gray !important;
}

.btn-primary {
	background-color: #fb8500 !important;
	border-color: #fb8500;
}

.logo {
	width: 65px;
}

.bg {
	background: url('img/bg-3.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.navbar {
	margin-bottom: 18vh;
}

.navbar-light .navbar-nav .nav-link {
	color: #023047;
}
.nav-link {
	color: #023047;
}

.underline {
	text-underline-offset: 6px;
	text-decoration-line: underline;
	text-decoration-thickness: 20%;
	text-decoration-color: #fb8500;
}

.hero-text.h1:after {
	content: attr(data-text);
	color: red;
	transform: translateX(-100%);
	position: absolute;
}

.hamburger {
	background: url('img/hambuger.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: -225px;
	width: 50px;
	height: 100%;
}

section > .lecturers {
	padding: 5px 0rem;
}

.card-body {
	padding: 2rem;
}

.card-text {
	color: #8a8a8a;
}

section > .join-us {
	background: url('img/bg-4.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
}

.join-us img {
	/* margin-top: 15vh; */
	max-width: 66%;
}

.visit-us-section {
  margin-top: 6rem ;
  margin-bottom: 6rem ;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.form-control {
	border: 0px;
	border-bottom: 1px solid;
	border-radius: 0;
  font-weight: 400;
	color: #f0f0f0;
	background-color: transparent;
	border-color: #235167;
}

.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border-top-left-radius: 0;
	border-color: transparent;
	border-bottom-right-radius: 0;
}

.btn-secondary:hover {
	border-color: #565e64;
	border-color: transparent;
}

.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.footer-section {
	background-color: #023047;
	color: #fff;
}

.footer-section .list-item-title {
  font-size: 18px;
}

.footer-section .list-unstyled {
  font-size: 16px;
}

.footer-section .list-unstyled li {
  line-height: 20.7px;
  font-weight: 300;
  margin-bottom: 8.3px;
  font-size: 13.7px;
  cursor: pointer;
}

.form-control:focus {
  background: transparent;
  border-color: none;
  box-shadow: none;
  color: #fb8500;
}